body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Verdana", cursive, sans-serif;
  color: #000000;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.app {
  background-color: #ffffff;
  min-height: 30vh;
  min-width: 80vw;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.score-section {
  display: block;
  font-size: 24px;
  align-items: center;
  text-align: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 80%;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 80%;
  text-align: center;
  margin-top: 2rem;
}

button {
  width: 75%;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 5px;
  align-items: center;
  border: 2px solid #000000;
  cursor: pointer;
  margin-top: 5px;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #c3c3c3;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

#audio-notification {
  visibility: hidden;
}
